n8n/support-ticket-workflow.json
{
  "name": "StemScribe — Support Ticket Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook — New Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "support-ticket"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "id", "name": "id", "value": "={{ $json.body.id }}", "type": "string" },
            { "id": "timestamp", "name": "timestamp", "value": "={{ $json.body.timestamp }}", "type": "string" },
            { "id": "name", "name": "name", "value": "={{ $json.body.name }}", "type": "string" },
            { "id": "email", "name": "email", "value": "={{ $json.body.email }}", "type": "string" },
            { "id": "subject", "name": "subject", "value": "={{ $json.body.subject }}", "type": "string" },
            { "id": "message", "name": "message", "value": "={{ $json.body.message }}", "type": "string" },
            { "id": "priority", "name": "priority", "value": "={{ $json.body.priority }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "parse-ticket",
      "name": "Parse Ticket Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_SPREADSHEET_ID_HERE" },
        "sheetName": { "__rl": true, "mode": "name", "value": "All Tickets" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Date": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Subject": "={{ $json.subject }}",
            "Message": "={{ $json.message }}",
            "Priority": "={{ $json.priority }}",
            "Status": "new",
            "Response": "",
            "Resolved Date": ""
          }
        },
        "options": {}
      },
      "id": "sheet-all-tickets",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 160],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CREDENTIAL_ID", "name": "Google Sheets StemScribe" }
      }
    },
    {
      "parameters": {
        "from": "+18447915323",
        "to": "+18034149454",
        "message": "={{ $json.priority === 'high' || $json.subject.toLowerCase().includes('billing') || $json.subject.toLowerCase().includes('refund') ? '⚠️ HIGH PRIORITY\\n' : '' }}🎫 New StemScribe ticket from {{ $json.name }}: {{ $json.subject }} — {{ $json.message.substring(0, 100) }}{{ $json.message.length > 100 ? '...' : '' }}"
      },
      "id": "sms-jeff",
      "name": "SMS to Jeff (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "twilioApi": { "id": "CREDENTIAL_ID", "name": "Twilio StemScribe" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "We got your message — StemScribe Support",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background-color:#1a1a2e;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#1a1a2e;\"><tr><td align=\"center\" style=\"padding:40px 20px;\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#16213e;border-radius:12px;overflow:hidden;\"><tr><td style=\"background:linear-gradient(135deg,#e94560 0%,#ff6b35 100%);padding:30px 40px;text-align:center;\"><h1 style=\"margin:0;color:#ffffff;font-size:24px;font-weight:700;letter-spacing:1px;\">StemScribe</h1><p style=\"margin:8px 0 0;color:rgba(255,255,255,0.85);font-size:13px;letter-spacing:2px;text-transform:uppercase;\">Support</p></td></tr><tr><td style=\"padding:40px;\"><p style=\"color:#e0e0e0;font-size:16px;line-height:1.6;margin:0 0 20px;\">Hey {{ $json.name }}, thanks for reaching out!</p><p style=\"color:#b0b0b0;font-size:15px;line-height:1.6;margin:0 0 25px;\">We got your message about <strong style=\"color:#ff6b35;\">{{ $json.subject }}</strong> and we'll get back to you within 24 hours.</p><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 25px;\"><tr><td style=\"background-color:#0f3460;border-left:4px solid #ff6b35;border-radius:6px;padding:16px 20px;\"><p style=\"color:#808080;font-size:12px;text-transform:uppercase;letter-spacing:1px;margin:0 0 4px;\">Your Ticket ID</p><p style=\"color:#ffffff;font-size:16px;font-family:'Courier New',monospace;margin:0;\">{{ $json.id }}</p></td></tr></table><p style=\"color:#b0b0b0;font-size:14px;line-height:1.6;margin:0 0 10px;\">If it's urgent, text us at <strong style=\"color:#e0e0e0;\">(843) 874-8999</strong></p><p style=\"color:#b0b0b0;font-size:14px;line-height:1.6;margin:0;\">Keep making music,<br><strong style=\"color:#e0e0e0;\">The StemScribe Team</strong></p></td></tr><tr><td style=\"background-color:#0f3460;padding:20px 40px;text-align:center;border-top:1px solid #1a3a6e;\"><p style=\"color:#606080;font-size:12px;margin:0;\">StemScribe &mdash; Stems, chords, and tabs from any song.</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-customer",
      "name": "Email Confirmation (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 460],
      "credentials": {
        "gmailOAuth2": { "id": "CREDENTIAL_ID", "name": "Gmail StemScribe" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "billing-check",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Billing",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "refund-check",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Refund",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "priority-check",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "if-billing",
      "name": "IF Billing/Refund",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_SPREADSHEET_ID_HERE" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Billing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Date": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Subject": "={{ $json.subject }}",
            "Message": "={{ $json.message }}",
            "Priority": "={{ $json.priority }}",
            "Status": "new",
            "Response": "",
            "Resolved Date": ""
          }
        },
        "options": {}
      },
      "id": "sheet-billing",
      "name": "Log to Billing Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1180, 80],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CREDENTIAL_ID", "name": "Google Sheets StemScribe" }
      }
    },
    {
      "parameters": {
        "from": "+18447915323",
        "to": "+18034149454",
        "message": "=🚨 BILLING/REFUND TICKET — {{ $json.name }} ({{ $json.email }})\n{{ $json.message.substring(0, 200) }}\nReply needed ASAP."
      },
      "id": "sms-billing-alert",
      "name": "High Priority SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1180, 220],
      "credentials": {
        "twilioApi": { "id": "CREDENTIAL_ID", "name": "Twilio StemScribe" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', ticketId: $json.id, message: 'Ticket received. Confirmation email sent.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Webhook — New Ticket": {
      "main": [
        [{ "node": "Parse Ticket Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Ticket Data": {
      "main": [
        [
          { "node": "Log to Google Sheet", "type": "main", "index": 0 },
          { "node": "SMS to Jeff (Twilio)", "type": "main", "index": 0 },
          { "node": "Email Confirmation (Gmail)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log to Google Sheet": {
      "main": [
        [{ "node": "IF Billing/Refund", "type": "main", "index": 0 }]
      ]
    },
    "IF Billing/Refund": {
      "main": [
        [
          { "node": "Log to Billing Tab", "type": "main", "index": 0 },
          { "node": "High Priority SMS", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "SMS to Jeff (Twilio)": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Email Confirmation (Gmail)": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Log to Billing Tab": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "High Priority SMS": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "StemScribe" }, { "name": "Support" }],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}
